.logo{
    width: 60px;
    display: block;
    margin: 0 auto;

    margin-top: 10px;
    margin-bottom: 10px;
}

.appBar {
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 248, 28) 100%);
    /* background: radial-gradient(circle, rgb(84, 255, 50) 100%);  */
}