.logo{
    width: 60px;
    display: block;
    margin: 0 auto;

    margin-top: 10px;
    margin-bottom: 10px;
}

.appBar {
    background: radial-gradient(circle, rgb(158, 255, 186) 0%, rgb(22, 150, 22) 100%);
}

.text{
    color: #000;
}