/* .toggleButton {
    display: grid;
    gap: 1rem;
}

@media (min-width: 320px) {
    .toggle { grid-template-columns: repeat(1, 1fr); }
}

@media screen and (max-width: 600px) {
    .toggleButton { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .toggle { grid-template-columns: repeat(3, 1fr); }
  } */

  .MuiToggleButtonGroup-root{
    display: grid;
  }